.buttons-area {
  padding: 8px 0 4px 0;
  width: 95%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

@media only screen and (max-width: 599px) {
  .buttons-area {
    flex-direction: column;
    gap: .5vh;
  }
}